{% assign info=site.data.info[include.key] %}
<h4 class="title">
  <i class="fi-lightbulb"></i>{{ info.title }}</h4>
<div class="row experience">
  {% for exp in info.expset %}
  <div class="large-12 medium-6 small-12 columns">
    <div class="year">{{ exp.year }}</div>
    <div class="exp_data">
      <div class="date">From {{ exp.join }} to {{ exp.leave }}</div>
      <div class="role">{{ exp.role }}</div>
      <div class="company">{{ exp.company }}</div>
    </div>
  </div>
  {% endfor %}
</div>