$lg-break-point: 1200px;
// $break-point: 960px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 22%;
$content-wrapper-width: 70%;
$article-max-width: 700px;
$article-min-width: 600px;
$post-margin-left: 28%;
$aside-left-offset:18%;/*注意这个值是负数*/
$centering-offset:40;

$img: "../img";
$js: "../js";
$font: "../font";
