<div id="header">
  <div class="row animated fadeInDown">
    <div class="large-4 columns">
      <h2>
        {{site.title}}
      </h2>
      <h6 class="light">
        {{site.job}}
      </h6>
    </div>
    <div class="large-3 columns">
      <div class="row">
        <div class="small-12 columns border-left light2 ">
          <ul class="no-bullet">
            <li>male - 24</li>
            <li>Hefei·AnHui</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="row">
        <div class="small-12 columns border-left light2">
          <ul class="no-bullet">
            <li>{{site.email}}</li>
            <li>{{site.mobile}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="large-2 columns text-right website">
      <a href="http://www.telephnik.site" target="_blank">telephnik.site</a>
    </div>
  </div>
</div>
